name: Test - Workflow Run

on:
  workflow_run:
    workflows: ["Test - Base Workflow"]
    branches: ["master", "rc"]
    types:
      - completed

jobs:
  test_workflow_run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 

      - run: echo ${{ github.event.workflow_run.head_branch }} 
